{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bootstrap.min.css') }}" />
{% endblock %}

{% block scripts %}
<script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

{% block body %}
<div class="my-photos">
    {% set privacy = false %}
    <ul class="nav nav-tabs" id="photosTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link {{ videoplay.id == 0 or not videoplay.privat ? 'active' : '' }}" id="videos-tab" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="true">Vidéos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ videoplay.id == 0 or not videoplay.privat ? '' : 'active' }}" id="private-videos-tab" data-toggle="tab" href="#private-videos" role="tab" aria-controls="private-videos" aria-selected="false">
                Vidéos Privées
                <img src="{{ asset('image/lock.svg') }}" class="imagelock" alt="lock">
            </a>
        </li>
        <li class="align-self-center" id="addimage">
            {% if app.user and app.user.id == user.id %}
                <button class="btn-addimage" data-toggle="modal" data-target="#imageModal">+</button>
            {% endif %}

            <!-- Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">Ajout d'un vidéo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ form(form) }}
                            </div>
                        </div>
                    </div>
            </div>
        </li>
    </ul>
    <div class="tab-content tab-photo" id="videosTabContent">
        <div class="tab-pane fade {{ videoplay.id == 0 or not videoplay.privat ? 'show active' : '' }}" id="videos" role="tabpanel" aria-labelledby="videos-tab">
            {% set found = false %}
            {% if videoplay.id != 0 and not videoplay.privat%}
                {{ include('profiles/video/_video.html.twig', {user: user, video: videoplay, comment: true}) }}
            {% else %}
                {% for video in user.videos %}
                    {% if not video.privat and not found %}
                        {{ include('profiles/video/_video.html.twig', {user: user, video: video, comment: true}) }}
                        {% set found = true %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane fade {{ videoplay.id == 0 or not videoplay.privat ? '' : 'show active' }}" id="private-videos" role="tabpanel" aria-labelledby="private-videos-tab">
            {% if app.user and app.user.id == user.id %}
                {% set found = false %}
                {% if videoplay.id != 0 and videoplay.privat %}
                    {{ include('profiles/video/_video.html.twig', {user: user, video: videoplay, comment: false}) }}
                {% else %}
                    {% for video in user.videos %}
                        {% if video.privat and not found %}
                            {{ include('profiles/video/_video.html.twig', {user: user, video: video, comment: false}) }}
                            {% set found = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
