<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Perle Rencontre - {% block title %}{% endblock %}</title>
         <script src="https://unpkg.com/htmx.org@1.0.1"></script>
         <script src="https://unpkg.com/hyperscript.org@0.0.2"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
        <style>
          .error-message {
              color:red;
           }
           .error input {
                box-shadow: 0 0 3px #CC0000;
            }
            .valid input {
                box-shadow: 0 0 3px #36cc00;
            }
            .htmx-settling img {
                opacity: 0;
            }
            img {
                transition: opacity 300ms ease-in;
            }
            .pristine-error {
                display: table;
            }
            .text-help{
                color:red;
            }
        </style>
    </head>  
    <body>
        <header>
            {% block header -%}
            {{ include('partials/_header.html.twig') }}
            {%- endblock %}
        </header>
        {% block body %}{% endblock %}
         <script src="{{asset('assets/js/pristine.min.js')}}"></script>
         {{ encore_entry_script_tags('app') }}
         <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
         <script src="{{asset('assets/js/stepper.js')}}"></script>
        {% block javascripts %}
        {% endblock %}
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

        <script type="text/javascript">
        window.stepper = new Stepper(document.querySelector('.bs-stepper'), {
            linear: false,
            animation: true
        });
        flatpickr(".js-datepicker", {});
        </script>
    </body>
</html>
